<!DOCTYPE HTML>
<html>
<head>
    <title>Olivia</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/frontpage/assets/css/main.css" />
</head>
<body>
    <header id="header">
        <div class="logo">Olivia <span>by Desert Labs</span></div>
        <a href="#menu"><span>Menu</span></a>
    </header>
    <nav id="menu">
        <ul class="links">
            <li>@Html.ActionLink("Home","Index","Home",null,null)</li>
            <li>@Html.ActionLink("Register", "Register", "User", null, null)</li>
            <li>@Html.ActionLink("Log In", "Login", "User", null, null)</li>
        </ul>
    </nav>
    <section id="banner" class="bg-img" data-bg="frontimage.jpg">
        <div class="inner">
            <header>
                <h1>This is Olivia</h1>
            </header>
        </div>
    </section>
    @RenderBody()
    <script src="~/frontpage/assets/js/jquery.min.js"></script>
    <script src="~/frontpage/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/frontpage/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/frontpage/assets/js/skel.min.js"></script>
    <script src="~/frontpage/assets/js/util.js"></script>
    <script src="~/frontpage/assets/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
