@model Olivia.Models.Utilizador
@{
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
    List<Recipe> favoritos = ViewBag.Favoritos;
}

<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="height: 200px; background-image: url(/layout/assets/img/wallpaperLoggedin.jpg); background-size: cover; background-position: center;">
    <div id="textContainer" style="margin-left:3%">
        <p>
            <h1 style="font-size:54px;" class="retroshadow"> Favorites </h1>
        </p>
    </div>
</div>

<!-- Arial Black;Verdana -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Outline</title>
    <style>

        #textContainer p {
            font-family: Verdana;
            font-size: 50px;
            font-weight: bold;
            color: #E6E8E6;
            margin: 0;
        }
        

        #textContainer 

    </style>
</head>


<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0 text-center">Recipes</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light" align="center">
                            <tr>
                                <th scope="col">Recipe Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Categorie</th>
                                <th scope="col">Calories</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Recipe item in favoritos)
                            {
                                <tr>
                                    <th scope="row">
                                        <div class="media align-items-center">
                                            <div class="media-body" align="center">
                                                <span class="mb-0 text-sm">@Html.ActionLink((@item.Id_Recipe).ToString(), "Details", "Recipe", new { id = @item.Id_Recipe }, new { @class = "text-default" })</span>
                                            </div>
                                        </div>
                                    </th>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td align="center">
                                        @item.Duration <i class="ni ni-time-alarm text-default"></i>
                                    </td>
                                    <td align="center">
                                        @if (item.Type == 1)
                                        {
                                            <b>Main Dish</b>
                                        }
                                        else if (item.Type == 2)
                                        {
                                            <b>Dessert</b>
                                        }
                                        else if (item.Type == 3)
                                        {
                                            <b>Appetizer</b>
                                        }
                                        else
                                        {
                                            <b>Vegetarian</b>
                                        }
                                    </td>
                                    <td align="center">
                                        @item.Calories
                                    </td>
                                    <td>
                                        <a href="/Recipe/Favorite/@item.Id_Recipe" class="btn btn-icon btn-olivia bg-gradient-olivia btn-sm" role="button" aria-pressed="true" style="margin-top:3%">

                                            <span class="btn-inner--icon"><i class="fa fa-trash"></i></span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>