@model System.Collections.Generic.List<Olivia.Models.Recipe>
@{
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
    Dictionary<int, float> ratings = ViewBag.Ratings;
    List<int> favorites = ViewBag.Favorites;
    List<Recipe> cards = ViewBag.CardRecipe;
    int i;

}
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 500px; background-image: url(/layout/assets/img/wallpaperLoggedin.jpg); background-size: cover; background-position: center;">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row">
                    @foreach (Recipe item in cards)
                    {
                        <div class="col-xl-3 col-lg-6">
                            <div class="card card-stats mb-4 mb-xl-0">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">Recipe @item.Id_Recipe</h5>
                                            <span class="h2 font-weight-bold mb-0">
                                                <a href="/Recipe/Details/@item.Id_Recipe" style="color:#32325D">
                                                    @item.Name
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <p class="mt-3 mb-0 text-muted text-sm">
                                        @if (ratings.GetValueOrDefault(item.Id_Recipe) > 2.5)
                                        {
                                            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> @ratings.GetValueOrDefault(item.Id_Recipe)</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger mr-2"><i class="fa fa-arrow-down"></i> @ratings.GetValueOrDefault(item.Id_Recipe)</span>
                                        }
                                        @for (i = 0; i < Math.Floor(@ratings.GetValueOrDefault(item.Id_Recipe)) && Math.Floor(@ratings.GetValueOrDefault(item.Id_Recipe)) > 0; i++)
                                        {
                                            <i class="fas fa-star " style="color:#f4d442"></i>
                                        }
                                        @if (i != 0 && i != 5)
                                        {
                                            @if (Math.Round(@ratings.GetValueOrDefault(item.Id_Recipe)) != @ratings.GetValueOrDefault(item.Id_Recipe))
                                            {
                                                <i class="fas fa-star-half-alt" style="color:#f4d442"></i>
                                                i++;

                                            }
                                            else
                                            {
                                                <i class="far fa-star " style="color:#f4d442"></i>
                                                i++;

                                            }
                                        }
                                            @for (; i < 5; i++)
                                            {
                                                <i class="far fa-star " style="color:#f4d442"></i>
                                            }

                                    </p>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7" >
        <div class="row" >
            <div class="col" >
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 class="mb-0 text-center">Recipes</h3>
                    </div>
                    <div class="table-responsive" >
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light" align="center">
                                <tr>
                                    <th scope="col">Recipe Id </th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Duration</th>
                                    <th scope="col">Categorie</th>
                                    <th scope="col">Calories</th>
                                    <th scope="col">Stars</th>
                                    <th scope="col">Fav</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Recipe item in Model)
                                {
                                <tr>
                                    <th scope="row">
                                        <div class="media align-items-center">
                                            <div class="media-body" align="center">
                                                <span class="mb-0 text-sm">@Html.ActionLink((@item.Id_Recipe).ToString(), "Details", "Recipe", new { id = @item.Id_Recipe }, new { @class = "text-default" })</span>
                                            </div>
                                        </div>
                                    </th>
                                    <td >
                                        @item.Name
                                    </td>
                                    <td align="center">
                                        @item.Duration <i class="ni ni-time-alarm text-default"></i>
                                    </td>
                                    <td align="center">
                                        @if (item.Type == 1)
                                        {
                                            <b>Main Dish</b>

                                        }
                                        else if (item.Type == 2)
                                        {
                                            <b>Dessert  </b>

                                        }
                                        else if (item.Type == 3)
                                        {
                                            <b>Appetizer</b>
                                        }
                                        else
                                        {
                                            <b>Vegetarian</b>
                                        }
                                        
                                    </td>
                                    <td align="center">
                                        @item.Calories
                                    </td>
                                    <td align="center">

                                        @for (i = 0; i < Math.Floor(@ratings.GetValueOrDefault(item.Id_Recipe)) && Math.Floor(@ratings.GetValueOrDefault(item.Id_Recipe)) > 0; i++)
                                        {
                                            <i class="fas fa-star " style="color:#f4d442"></i>
                                        }
                                        @if (i != 0 && i != 5)
                                        {
                                            @if (Math.Round(ratings.GetValueOrDefault(item.Id_Recipe)) != @ratings.GetValueOrDefault(item.Id_Recipe))
                                            {
                                                <i class="fas fa-star-half-alt" style="color:#f4d442"></i>
                                                i++;

                                            }
                                            else
                                            {
                                                <i class="far fa-star " style="color:#f4d442"></i>
                                                i++;

                                            }
                                        }
                                        @for (; i < 5; i++)
                                        {
                                            <i class="far fa-star " style="color:#f4d442"></i>
                                        }

                                    </td>
                                    <td align="center">
                                        @if (favorites.Contains(item.Id_Recipe))
                                        {
                                            <i class="fas fa-heart" style="color:#F62681"></i>

                                        }
                                        else
                                        {
                                            <i class="fas fa-heart" style="color:#aeaeae"></i>
                                        }

                                    </td>

                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
