@model Olivia.Models.CreateModel
@{
    Layout = "~/Views/Shared/_LayoutMainMenuSubs.cshtml";
}
<footer id="footer" style="max-height:100%">
    <h2 style="font-size: 72px">Sign Up</h2>
    <div style="margin-left:40%">
        @using(Html.BeginForm()){
        <div class="field" style="max-width:30%">
            @Html.LabelFor(model => model.Username, null)
            @Html.EditorFor(model => model.Username, null)
            @Html.ValidationMessageFor(model => model.Username, "", null)
        </div>
        <div class="field" style="max-width:30%">
            @Html.LabelFor(model => model.Password, null)
            @Html.EditorFor(model => model.Password, null)
            @Html.ValidationMessageFor(model => model.Password, "", null)
        </div>
        <div class="field" style="max-width:30%">
            @Html.LabelFor(model => model.Email, null)
            @Html.EditorFor(model => model.Email, null)
            @Html.ValidationMessageFor(model => model.Email, "", null)
        </div>
        <div class="field" style="max-width:30%">
            @Html.LabelFor(model => model.Name, null)
            @Html.EditorFor(model => model.Name, null)
            @Html.ValidationMessageFor(model => model.Name, "", null)
        </div>
        <ul class="actions">
            <li><input value="Register" class="button alt" type="submit"></li>
        </ul>
        }
    </div>
    <div class="copyright">
        &copy; Olivia
    </div>
</footer>
