@model Olivia.Models.Recipe
@{
    Layout = "~/Views/Shared/_LayoutMenuUser.cshtml";
}

@if (Model != null)
{
    <h1>@Model.Name</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item active">
            <a class="nav-link" data-toggle="tab" href="#home">Descrição</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#ingredientes">Ingredientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#instrucoes">Instruções</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#vals">Valores Nutricionais</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active show" id="home">
            <p>@Model.Description</p>
        </div>
        <div class="tab-pane fade show" id="ingredientes">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (IngredientRecipe item in Model.Ingredients)
    {
                <tr>
                    <th scope="row">@item.Name</th>
                    <td>@item.Quantity @item.Unit</td>
                </tr>
}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade show" id="instrucoes">
            <ul class="list-group">
                @foreach (Instruction item in Model.Instructions)
                {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    @item.Designation
                <span class="badge badge-primary badge-pill">@item.Duration</span>
                </li>
                }
            </ul>
        </div>
        <div class="tab-pane fade show" id="vals">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Valores Nutricionais</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Calorias</th>
                        <td>@Model.Calories</td>
                    </tr>
                    <tr>
                        <th scope="row">Gorduras</th>
                        <td>@Model.Fat</td>
                    </tr>
                    <tr>
                        <th scope="row">Carbohidratos</th>
                        <td>@Model.Carbs</td>
                    </tr>
                    <tr>
                        <th scope="row">Proteína</th>
                        <td>@Model.Protein</td>
                    </tr>
                    <tr>
                        <th scope="row">Fibras</th>
                        <td>@Model.Fiber</td>
                    </tr>
                    <tr>
                        <th scope="row">Sódio</th>
                        <td>@Model.Sodium</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

}
else
{
    <p>Error, recipe not found</p>
}
