@model Olivia.Models.Recipe
@using System.Text.RegularExpressions;
@{
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
    TempData["Id"] = Model.Id_Recipe;
    Boolean boolean = ViewBag.boolean;
        string image_string = "";
    if (ViewBag.image != null)
    {
        image_string = "data:image;base64," + System.Convert.ToBase64String(ViewBag.image);
    }
    else
    {
        image_string = "/layout/assets/img/wallpaperLoggedin.jpg";
    }
}
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="height: 200px; background-image: url(@image_string); background-size: cover; background-position: center;">
    <div id="textContainer" style="margin-left:3%">
        <p>
            <h1 style="font-size:54px;" class="retroshadow"> @Model.Name </h1>
        </p>
    </div>
</div>
<div class="container-fluid mt--7">
    <div class="nav-wrapper" style="margin-top:10%">
        <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
            <li class="nav-item">
                <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i class="ni ni-badge mr-2" style="height:20px"> Description</i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="ni ni-cart mr-2" style="height:20px"> Ingredients</i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><i class="ni ni-book-bookmark mr-2" style="height:20px"> Instructions</i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-4-tab" data-toggle="tab" href="#tabs-icons-text-4" role="tab" aria-controls="tabs-icons-text-4" aria-selected="false"><i class="ni ni-chart-pie-35 mr-2" style="height:20px"> Nutricional Values</i></a>
            </li>
        </ul>
    </div>
    <div class="card shadow">
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                    <p class="description">@Model.Description</p>
                </div>
                <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                    <div class="row">
                        <div class="col">
                            <div class="card shadow">
                                <div class="table-responsive">
                                    <table class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Quantity</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (RecipeIngredient item in Model.Ingredients)
                                            {
                                                <tr>
                                                    <th scope="row">
                                                        <div class="media align-items-center">
                                                            <div class="media-body">
                                                                <span class="mb-0 text-sm">@item.Name</span>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <td>
                                                        @item.Quantity @item.Unit
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
                    <div class="row">
                        <div class="col">
                            <div class="card shadow">
                                <div class="table-responsive">
                                    <table class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Intruction</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (Instruction item in Model.Instructions)
                                            {
                                                <tr>
                                                    <th scope="row">
                                                        <div class="media align-items-center">
                                                            <div class="media-body">
                                                                <span class="mb-0 text-sm">@item.Designation</span>
                                                            </div>
                                                        </div>
                                                    </th>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tabs-icons-text-4" role="tabpanel" aria-labelledby="tabs-icons-text-4-tab">
                    <div class="row">
                        <div class="col">
                            <div class="card shadow">
                                <div class="table-responsive">
                                    <table class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Nutricional Values</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">
                                                    <div class="media align-items-center">
                                                        <div class="media-body">
                                                            <span class="mb-0 text-sm">Calories</span>
                                                        </div>
                                                    </div>
                                                </th>
                                                <td>
                                                    @Model.Calories
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    <div class="media align-items-center">
                                                        <div class="media-body">
                                                            <span class="mb-0 text-sm">Fat</span>
                                                        </div>
                                                    </div>
                                                </th>
                                                <td>
                                                    @Model.Fat
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    <div class="media align-items-center">
                                                        <div class="media-body">
                                                            <span class="mb-0 text-sm">Carbohydrates</span>
                                                        </div>
                                                    </div>
                                                </th>
                                                <td>
                                                    @Model.Carbs
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    <div class="media align-items-center">
                                                        <div class="media-body">
                                                            <span class="mb-0 text-sm">Protein</span>
                                                        </div>
                                                    </div>
                                                </th>
                                                <td>
                                                    @Model.Protein
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    <div class="media align-items-center">
                                                        <div class="media-body">
                                                            <span class="mb-0 text-sm">Fiber</span>
                                                        </div>
                                                    </div>
                                                </th>
                                                <td>
                                                    @Model.Fiber
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    <div class="media align-items-center">
                                                        <div class="media-body">
                                                            <span class="mb-0 text-sm">Sodium</span>
                                                        </div>
                                                    </div>
                                                </th>
                                                <td>
                                                    @Model.Sodium
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <button type="button" class="btn btn-icon btn-olivia bg-gradient-olivia" data-toggle="modal" data-target="#RecipeStartCheck" style="margin-top:3%">
        <span class="btn-inner--icon"><i class="ni ni-button-play"></i></span>
    </button>
    <div class="modal fade" id="RecipeStartCheck" tabindex="-1" role="dialog" aria-labelledby="RecipeStartCheck" aria-hidden="true">
        <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
            <div class="modal-content bg-gradient-danger">

                <div class="modal-header">
                    <div class="col-12 modal-title text-center">
                        <i class="ni ni-bell-55 ni-3x"></i>
                        <h4 class="heading mt-4">Verify if you have all the ingredients listed bellow</h4>
                    </div>
                </div>

                <div class="modal-body">
                    <div class="row" style="margin-left:5%">
                        <div class="col">
                            <h4 class="heading mt-4">Ingredients</h4>
                        </div>
                        <div class="col">
                            <h4 class="heading mt-4">Quantity</h4>
                        </div>
                    </div>

                    @foreach (RecipeIngredient item in Model.Ingredients)
                    {
                        <div class="row" style="margin-left:5%">
                            <div class="col">
                                @item.Name
                            </div>
                            <div class="col">
                                @item.Quantity @item.Unit
                            </div>
                        </div>
                    }
                </div>

                <div class="modal-footer">
                    <div class="row" style="width:100%">
                        <div class="col">
                            <a href="/Cook" class="btn btn-white" role="button" aria-pressed="true">
                                Ok, Got it
                            </a>
                        </div>
                        <div class="col">
                            <a href="/Cook/Shopping/@Model.Id_Recipe" class="btn btn-white ml-auto" role="button" aria-pressed="true">
                                Go Shopping
                            </a>
                        </div>
                        <div class="col">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span>×</span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @if (boolean)
    {
        <a href="/Recipe/Favorite/@Model.Id_Recipe" class="btn btn-icon btn-oliviaymegalike bg-gradient-oliviaymega" role="button" aria-pressed="true" style="margin-top:3% ">
            <span class="btn-inner--icon"><i class="ni ni-favourite-28"></i></span>
        </a>
    }
    else
    {
        <a href="/Recipe/Favorite/@Model.Id_Recipe" class="btn btn-icon btn-oliviaymega bg-gradient-oliviaymega" role="button" aria-pressed="true" style="margin-top:3% ">
            <span class="btn-inner--icon"><i class="ni ni-favourite-28"></i></span>
        </a>
    }


    <div class="card-deck" style="margin-top:3%;margin-bottom:3%">
        @foreach (string warning in Model.Warnings)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Regex.Replace(warning, @":.*", "")</h5>
                    <p class="card-text">@Regex.Replace(warning, @".*:", "")</p>
                </div>
            </div>
        }

    </div>


</div>

