@model Olivia.ViewModels.ViewAllRecipesViewModel

@{
    ViewBag.Title = "All Recipes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Recipes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model.Recipes)
    {
        <tr>
            <td>
                <h3>@item.Name</h3>
                @Html.ActionLink("Edit", "Edit/" + item.Id, new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details/" + item.Id, new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete/" + item.Id, new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
