@model System.Collections.Generic.Dictionary<DateTime,KeyValuePair<Olivia.Models.Recipe,Olivia.Models.Recipe>>
@{
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
    Dictionary<int, byte[]> images = ViewBag.images;
    Dictionary<int, string> image_strings = new Dictionary<int, string>();
    foreach(int id in images.Keys)
    {
        if ( images[id] != null)
        {
            image_strings[id] = "data:image;base64," + System.Convert.ToBase64String(ViewBag.images[id]);
        }
        else
        {
            image_strings[id] = "/layout/assets/img/wallpaperLoggedin.jpg";
        }

    }
}

<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="height: 200px; background-image: url(/layout/assets/img/wallpaperLoggedin.jpg); background-size: cover; background-position: center;">
    <div id="textContainer" style="margin-left:3%">
        <p>
            <h1 style="font-size:54px;" class="retroshadow"> Your 7 day plan </h1>
        </p>
    </div>
</div>
<div class="container-fluid mt--7">
    @foreach (KeyValuePair<DateTime, KeyValuePair<Olivia.Models.Recipe, Olivia.Models.Recipe>> item in Model)
    {
    <div class="row" style="margin-top:10px">
        <div class="col-sm-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <img src="@image_strings[item.Value.Key.Id_Recipe]" class="card-img" alt="...">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">@item.Key.ToShortDateString() - Lunch</h5>
                            <p class="card-text">@item.Value.Key.Name</p>
                            <a href="/Recipe/Details/@item.Value.Key.Id_Recipe" class="btn btn-olivia btn-gradient-olivia">Go Recipe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <img src="@image_strings[item.Value.Value.Id_Recipe]" class="card-img" alt="...">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">@item.Key.ToShortDateString() - Dinner</h5>
                            <p class="card-text">@item.Value.Value.Name</p>
                            <a href="/Recipe/Details/@item.Value.Value.Id_Recipe" class="btn btn-olivia btn-gradient-olivia">Go Recipe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }

</div>
